<h1>Listing zonas</h1>

<table>
  <tr>
    <th>Zona</th>
    <th>Distribuidora</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @zonas.each do |zona| %>
  <tr>
    <td><%= zona.zona %></td>
    <td><%= zona.distribuidora_id %></td>
    <td><%= link_to 'Show', zona %></td>
    <td><%= link_to 'Edit', edit_zona_path(zona) %></td>
    <td><%= link_to 'Destroy', zona, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Zona', new_zona_path %>
